.homeStoryContainer {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    // height: 100vh;

    .storyMainContainer {
        display: flex;

        .homeRightContainer {
            height: 100%;

            .imgWrapper {
                width: 100%;
                height: 100%;

                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    max-height: 1200px;
                }

                @media (max-width: 700px) {
                    .image {
                        max-height: 450px;
                    }
                }

                @media (max-width: 450px) {
                    .image {
                        max-height: 300px;
                    }
                }
            }
        }
    }
}


.storyMidleContainer {
    display: flex;
    flex-direction: column;
    flex: 80%;

    .midleHeaderContainer {
        width: 100%;
    }
}

.storyCardsContainer {
    padding-left: 20px;
    padding-right: 20px;

    .storyUpperCards{
        display: flex;
        justify-content: center;

        .storyCards {

            h4{
                font-size: 22px;
                color: #5fdad5;
                font-weight: 600;
            }

            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            padding: 16px;
            // height: 230px;
            background-color: #282A37;
            width: 270px;
            // border: 3px solid #2f3538;
            border-radius: 25px;
            box-shadow: -3px -3px 8px #22495c, 5px 5px 3px rgb(0 0 0 / 68%);
        }
    }

    .storyLowerCards{
        display: flex;
        margin-left: 9%;
        justify-content: center;

        h4{
            font-size: 22px;
            color: #5fdad5;
            font-weight: 600;
        }

        .storyCards {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            padding: 16px;
            // height: 230px;
            width: 270px;
            background-color: #282A37;
            // border: 3px solid #2f3538;
            border-radius: 25px;
            box-shadow: -3px -3px 8px #22495c, 5px 5px 3px rgb(0 0 0 / 68%);
        }
    }
}

@media (max-width: 970px) {
    .storyCardsContainer {
        padding-left: 25px;
        padding-right: 20px;

        .storyUpperCards{
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .storyLowerCards{
            display: flex;
            align-items: center;
            margin-left: 0%;
            flex-direction: column;
        }
    }
}