input {
    padding: 5px 10px;
    margin-top: 3px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
    background-color: #2F3538;
    display: inline-block;
    box-sizing: border-box;
}

label{
    margin-bottom: 0;
}

.checkbox{
    display: flex;
    align-items: start;
    margin-bottom: 10px;
}

.errorLabelDiv{
    display: flex;
    width: 100%;
    justify-content: space-between;

    p{
        margin: 0;
        color: red;
        display: none;
    }
}

input:invalid label ~ p{
    display: block;
}

input:invalid[focused="true"] {
    background-color: #3B4144;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
}

.AddToCartContainer {
    margin-top: 65px;

    .mainContainer {
        padding: 10px;

        .cartFirstRow {
            display: flex;
            justify-content: center;


            .MyCartContainer {
                width: 65%;
                margin-left: 10px;
                margin-right: 10px;
                border-radius: 15px;
                box-shadow: -3px -3px 3px #ffffff14,
                    5px 5px 3px #0000003d;

                .cartHeaderContainer {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .shoppingTableContainer {
                    width: 100%;
                    padding: 20px;

                    .shoppingTabel {
                        width: 100%;

                        tbody {

                            tr {
                                td {
                                    text-align: left;
                                }

                                .qunatity{
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    margin-top: 13px;

                                    input{
                                        width: 55px;
                                        height: 24px;
                                        margin: 0;
                                        text-align: left;
                                    }

                                    button{
                                        background-color: #2F3538;
                                        border: none;
                                        margin: 2px;
                                    }
                                }
                            }
                        }
                    }

                    .updateCartButton {
                        display: flex;
                    }
                }

                .checkOutContainer {
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
            }

            .paymentContainer {
                width: 35%;
                margin-left: 10px;
                margin-right: 10px;
                border-radius: 15px;
                box-shadow: -3px -3px 3px #ffffff14,
                    5px 5px 3px #0000003d;

                .paymentHeaderContainer {
                    width: 100%;

                }


                .paymentDetailTable {
                    padding: 20px;

                    .Details {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 10px;

                        .label {
                            font-weight: 700;
                        }

                        .totalLabel {
                            font-size: larger;
                            font-weight: 800;
                        }
                    }
                }
            }
        }

        .cartSecondrow {
            display: flex;
            margin-top: 20px;

            .ShippingContainer {
                width: 50%;
                margin-left: 10px;
                margin-right: 10px;
                border-radius: 15px;
                box-shadow: -3px -3px 3px #ffffff14,
                    5px 5px 3px #0000003d;

                .shippingContent {
                    padding: 30px;

                    span {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        width: 100%;

                        input {
                            width: 100%;
                        }
                    }

                    .nameContainer {
                        flex-direction: row;
                        justify-content: space-between;

                        span {
                            width: 49%;
                        }
                    }

                    .addressDetail {
                        flex-direction: row;
                        justify-content: space-between;

                        span {
                            width: 49%;
                        }
                    }

                    .stateContainer{
                        div:nth-child(1){
                            width: 100%;
                            text-align: left;
                        }
                    }

                    .ContactContainer {
                        flex-direction: row;
                        justify-content: space-between;

                        span {
                            width: 49%;
                            margin-top: 10px;
                        }
                    }
                }
            }

            .billingContainer {
                width: 50%;
                margin-left: 10px;
                margin-right: 10px;
                border-radius: 15px;
                box-shadow: -3px -3px 3px #ffffff14,
                    5px 5px 3px #0000003d;

                .billingContent {
                    padding: 0 30px;
                    padding-bottom: 30px;

                    span {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        input {
                            width: 100%;
                        }
                    }

                    .nameContainer {
                        flex-direction: row;
                        justify-content: space-between;

                        span {
                            width: 49%;
                        }
                    }

                    .addressDetail {
                        flex-direction: row;
                        justify-content: space-between;

                        span {
                            width: 49%;
                        }
                    }

                    .stateContainer{
                        div:nth-child(1){
                            width: 100%;
                            text-align: left;
                        }
                    }

                    .ContactContainer {
                        flex-direction: row;
                        justify-content: space-between;

                        span {
                            margin-top: 10px;
                            width: 49%;
                        }
                    }
                }
            }
        }
    }



}