.homeChestoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;

    .chestoDesc {
        display: flex;
        flex-direction: column;
        flex: 100%;
        align-items: center;

        .ChestoContent {
            display: flex;
            flex-direction: column;
        }

        p {
            padding-left: 100px;
            padding-right: 45px;
        }

        .chestoboxbutton {
            display: flex;
            width: 80%;
            justify-content: space-evenly;
        }
    }


    .chestobottom {
        width: 370px;

        h4{
            font-size: 18px;
        }

        .chestoCountTop {
            display: flex;
            justify-content: space-between;

            .chestoBox {
                height: 160px;
                width: 160px;
                margin: 10px 0;
                padding: 0 15px;
                background-color: #282A37;
                border: 3px solid #2f3538;
                border-radius: 25px;
                box-shadow: -3px -3px 3px #ffffff14, 5px 5px 3px #0000003d;
            }
        }

        .chestoCountBottom {
            display: flex;
            justify-content: space-between;

            .chestoBox {
                height: 160px;
                width: 160px;
                margin: 10px 0;
                padding: 0 15px;
                background-color: #282A37;
                border: 3px solid #2f3538;
                border-radius: 25px;
                box-shadow: -3px -3px 3px #ffffff14, 5px 5px 3px #0000003d;
            }
        }
    }

    @media (max-width: 950px) {
        .chestoDesc {

            .ChestoContent {

                p {
                    padding: 25px;
                }
            }

            .chestoboxbutton {
                display: flex;
                flex-direction: column;
                width: 50%;
            }
        }
    }

    @media (max-width: 450px) {
        .chestoDesc {

            .ChestoContent {
                p {
                    padding: 10px 17px;
                }
            }

            .chestoboxbutton {
                display: flex;
                width: 50%;
            }
        }
    }

    @media (max-width: 370px) {
        .chestobottom {

            .chestoCountTop {
                flex-direction: column;
                align-items: center;
            }

            .chestoCountBottom {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .chestoImg {

        img {
            object-fit: contain;
            max-height: 500px;
        }

        @media (max-width: 500px) {
            img {
                max-height: 310px;
            }
        }
    }
}