.termNCondition {
    text-align: left;
    margin-top: 65px;
    padding-top: 35px;
    padding-left: 80px;
    padding-right: 50px;

    span {
        width: 100%;
        font-size: 17px;

        div {
            margin: 15px 0;
        }

        ul {
            li {
                padding-left: 50px;
            }
        }
    }

    @media (max-width: 550px) {
        padding-left: 60px;
    }
}
