.homeHeroContainer {
    margin: 20px;

    .heroTextImgContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homeTypewriterContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: #fff;
    }
}

.qualityAssuredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    height: 150px;
    width: 100%;
}

@media (max-width: 700px) {

    .qualityAssuredContainer {
        flex-direction: column;
        height: 375px;
    }
}

.homeStoryContainer {
    margin-top: 20px;
    margin-bottom: 20px;

    .storyMainContainer {
        display: flex;

        .MidleContainer {
            display: flex;
            flex-direction: column;
            flex: 80%;

            .storyMidleContainer {
                display: flex;
                flex-direction: column;


                .storyUpperCards {
                    display: flex;

                    .storyCards {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 20px;
                        padding: 10px;
                        height: 230px;
                        width: 230px;
                        border: 3px solid #2f3538;
                        border-radius: 25px;
                        box-shadow: -3px -3px 3px #ffffff14, 5px 5px 3px #0000003d;
                    }
                }

                .storyLowerCards {
                    display: flex;
                    margin-left: 65PX;

                    .storyCards {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 20px;
                        padding: 10px;
                        height: 230px;
                        width: 230px;
                        border: 3px solid #2f3538;
                        border-radius: 25px;
                        box-shadow: -3px -3px 3px #ffffff14, 5px 5px 3px #0000003d;
                    }
                }
            }
        }


        .homeRightContainer {
            width: 40%;


            .imgWrapper {
                width: 100%;
                min-width: 350px;
                height: auto;



                .image {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                    max-height: 800px;

                }
            }
        }

    }
}



.homeJourneyContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

    .journeyMainContainer {
        display: flex;

        .homeRightContainer {
            height: 100%;

            .imgWrapper {
                width: 100%;
                height: 100%;

                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    max-height: 800px;
                }
            }
        }
    }
}


.journeyContentContainer {
    display: flex;
    flex-direction: column;
    flex: 80%;

    .journeyHeaderContainer {
        width: 100%;
        height: 250px;
    }
}

.journeyCardsContainer {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;

    .journeyLowerContainer {
        margin-top: 35px;
    }
}

@media (max-width: 900px) {
    .journeyCardsContainer {
        padding-left: 25px;
        padding-right: 20px;
    }
}







.homeQuestionContainer {
    // min-height: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;

    .QuestionTextImgContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .BulbLightupImg {
            z-index: 10;
            position: relative;
        }

        .lightUpshad1 {
            transform: translate(0px, -265px);
            top: 50%;
        }

        .lightUpshad2 {
            transform: translate(0px, -646px);
            top: 50%;
        }
    }

    .infoCards {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 700px) {
        .infoCards {
            flex-direction: column;
        }
    }

    .responsiveInfoCards {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .cardsRow1 {
            display: flex;
        }

        .cardsRow2 {
            display: flex;
            align-items: center;
        }

        @media (max-width: 780px) {
            .cardsRow1 {
                flex-direction: column;
            }
        }
    }

}











.homeChestoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

    .chestoDesc {
        display: flex;
        flex-direction: column;
        flex: 80%;
        align-items: center;

        .ChestoContent {
            display: flex;
            flex-direction: column;
        }

        p {
            padding-left: 100px;
            padding-right: 45px;
        }

        .chestoboxbutton {
            display: flex;
        }
    }


    .chestobottom {
        width: 350px;

        .chestoCountTop {
            display: flex;
            justify-content: space-between;

            .chestoBox {
                height: 150px;
                width: 150px;
            }
        }

        .chestoCountBottom {
            display: flex;
            justify-content: space-between;

            .chestoBox {
                height: 150px;
                width: 150px;
            }
        }
    }


    @media (max-width: 950px) {
        .chestoDesc {

            .ChestoContent {

                p {
                    padding: 25px;
                }
            }

            .chestoboxbutton {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .chestoImg {
        flex: 40%;
    }
}