.NavbarInnerContainer {
  width: 100%;
  display: flex;
  margin-top: 20px;

    @media (max-width: 700px) {
      flex-direction: column;
    }

    .LeftContainer {
      flex: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 50px;
      padding-right: 15px;

      @media (max-width: 700px) {
        padding-right: 50px;
      }

      img {
        margin: 10px;
        max-width: 180px;
        height: auto;

      }
    }

    .RightContainer {
      flex: 60%;
      display: flex;

      @media (max-width: 700px) {
        width: 100%;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
      }

      .RightDivOne {
        flex: 40%;
        justify-content: center;

        @media(max-width: 700px){
          margin-bottom: 20px;
        }

        .ContactDetails{
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 85%;
          padding: 0 20px;

          @media (max-width: 700px){
            padding: 0 50px;
          }

          div{
            display: flex;
            margin-top: 5px;

            span{
              text-align: left;

              p{
                margin: 0;
              }
            }
          }
        }
      }

      .RightDivTwo {
        flex: 30%;
        justify-content: center;
        margin-bottom: 20;

        .companyDetails{
          height: 85%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          div{
            margin-top: 15px;
            cursor: pointer;
          }
        }
      }

      .RightDivThree {
        flex: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .socialIcon {
          display: flex;
          flex-direction: column;

          @media(max-width: 700px){
            flex-direction: row;
          }
        }
      }
    }
}