.App {
  text-align: center;
  background-color: #2F3538;
  color: #fff;
}
a.active{
  color: #ffe500;
  text-decoration: none;
}
/* 
p{
  position: relative;
  animation: animate 4s;
  transition: all ease-out;
}

@keyframes animate {
  from{
    opacity: 0;
    bottom: -40px;
  }

  to{
    opacity: 1;
    bottom: 0px;
  }
} */