/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: 'work Sans' !important;
}

h1 {
  font-family: "work Sans" !important;
  font-size: 36px;
  font-weight: 600;
  color: #E9D206;
}

h4 {
  font-family: "work Sans" !important;
  font-weight: 400;
  font-size: 28px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Typewriter__wrapper{
  color: #ffe000 !important;
  font-weight: 600;
}
