.BuyNowContainer {
    margin-top: 65px;

    .chestoBuyContainer {
        display: flex;
        width: 100%;

        .chestoImgSwiper {
            width: 50%;
            height: 500px;

            .myswiper {
                height: 280px;
            }
        }

        .contentContainer{
            width: 50%;

            .buyHeaderContainer{
                
                h1, h4, p{
                    text-align: left;
                }

                .counterContainer{
                    display: flex;

                    p{
                        font-size: 25px;
                        text-shadow: 1px 1px 2px #333;
                        margin: 0 15px;
                    }
                    
                    button{
                        font-size: 25px;
                        color: black;
                        width: 15px;
                        height: 35px;
                        border-radius: 10px;
                    }
                }

                .colorCartContainer{
                    text-align: left;
                    width: 400px;
                    border-radius: 10px;
                }
            }
        }
    }
}